<div class="row justify-content-center">
  <div class="col-lg-9 mt-5">

    <div class="row row-cols-2 gray-400-back px-3 py-5">
      <div class="col-lg-2 pb-3">
        <span>問い合わせ日時</span>
      </div>
      <div class="col-lg-10">
        <%= l @inquiry.created_at %> <!--#lヘルパー config/locales/ja.ymlにて設定-->
      </div>
      <div class="col-lg-2 pb-3">
        <span>ID</span>
      </div>
      <div class="col-lg-10">
        <% if @inquiry.user_id == nil %>
          <span>未入力</span>
        <% else %>
          <%= @inquiry.user_id %>
        <% end %>
      </div>
      <div class="col-lg-2 pb-3">
        <span>名前</span>
      </div>
      <div class="col-lg-10">
        <%= @inquiry.last_name %> <%= @inquiry.first_name %>
      </div>
      <div class="col-lg-2 pb-3">
        <span>メールアドレス</span>
      </div>
      <div class="col-lg-10">
        <%= @inquiry.email %>
      </div>
      <div class="col-lg-2 pb-3">
        <span>対応状況</span>
      </div>
      <div class="col-lg-10">
        <%= form_with model: @inquiry, url: admin_inquiry_path(@inquiry.id) do |f| %>
          <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :is_response, false, class: 'custom-control-input' %><%= f.label(:is_response, '未対応', value: false, class: 'custom-control-label') %>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :is_response, true, class: 'custom-control-input' %><%= f.label(:is_response, '対応済', value: true, class: 'custom-control-label') %>
          </div>
            <%= f.submit '変更', class: 'btn btn-secondary ml-3' %>
        <% end %>
      </div>
      <div class="col-lg-2 pb-3">
        <span>件名</span>
      </div>
      <div class="col-lg-10">
        <%= @inquiry.inquiry_name %>
      </div>
      <div class="col-lg-2">
        <span>内容</span>
      </div>
      <div class="col-lg-10">
        <%= @inquiry.inquiry_detail %>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <%= link_to 'Back', :back %>
    </div>

  </div>
</div>