<h2>Engagements いいねとコメント</h2>

<div class="row">

  <div class="col-sm-6">

    <p>♥ <%= @likes.count %></p>
    <% @likes.each do |like| %>
      <%= image_tag like.user.get_thumbnail(50,50) %>
      <% if like.user.user_type == "artist" %>
        ★
      <% else %>
        ♥
      <% end %>
      <% if like.user.user_type == "artist" %>
        <%= link_to like.user.handle_name, artist_path(like.user_id) %>
      <% else %>
        <%= link_to like.user.handle_name, fan_path(like.user_id) %>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <p><%= @comments.count %> コメント</p>
    <% if user_signed_in? %>
      <%= form_with model: @comments, url: art_engagements_path do |f| %>
        <%= f.text_field :body, :placeholder => "コメントを投稿" %>
        <%= f.submit "投稿" %>
      <% end %>
    <% else %>
    <% end %>

    <% @comments.each do |comment| %>
      <% if comment.is_deleted == "true" %>
        <p>削除済みコメント</p>
      <% else %>
        <%= image_tag comment.user.get_thumbnail(50,50) %>

        <% if comment.user.user_type == "artist" %>
          ★
        <% else %>
          ♥
        <% end %>

        <% if comment.user.user_type == "artist" %>
          <%= link_to comment.user.handle_name, artist_path(comment.user_id) %>
        <% else %>
          <%= link_to comment.user.handle_name, fan_path(comment.user_id) %>
        <% end %>

        <%= comment.body %>
        <%= l comment.created_at %>  <!--#lヘルパー config/locales/ja.ymlにて設定-->

        <% if user_signed_in? %>
          <%= form_with model: @comments, url: art_engagement_path, method: :patch do |f| %>
            <%= button_tag type: "submit" do %>
             ■
            <% end %>
          <% end %>
        <% else %>
        <% end %>
      <% end %>

      <p>1 Reply</p> <!--Todo: if文 コメントの返信が0の場合 何も表示しない else *Replyを表示-->
      <!--Todo: 返信投稿フォーム-->
    <% end %>
  </div>

</div>