<p>Engagements　いいねとコメント</p>

<div class="row justify-content-center">
  <div class="col-lg-11 d-flex justify-content-center">

    <div class="col-lg-4 mt-5">
      <div class="white-text gray-800-back d-flex align-items-center pl-3 list-label">
        <span><i class="fas fa-thumbs-up gray-400"></i> <%= @likes.count %> いいね</span>
      </div>
      <% @likes.each do |like| %>
        <div class="col-lg-12">
          <div class=" row row-cols-3 gray-400-back line-bottom d-flex align-items-center text-center py-1">
            <% if like.user.is_deleted == true %>
              <div class="col-lg-4">
                <%= image_tag 'is_deleted_thumbnail.jpg', class: 'rounded-circle thumbnail-s' %>
              </div>
              <div class="col-lg-1">
                <%= render 'layouts/user_mark', user: like.user %>
              </div>
              <div class="col-lg-7">
                <span>退会済みユーザー</span>
              </div>
            <% elsif like.user.is_locked == true %>
              <div class="col-lg-4">
                <%= image_tag 'is_locked_thumbnail', class: 'rounded-circle thumbnail-s' %>
              </div>
              <div class="col-lg-1">
                <%= render 'layouts/user_mark', user: like.user %>
              </div>
              <div class="col-lg-7">
                <span>アカウント凍結中</span>
              </div>
            <% else %>
              <div class="col-lg-4">
                <%= image_tag like.user.get_thumbnail, class: 'rounded-circle thumbnail-s' %>
              </div>
              <div class="col-lg-1">
                <%= render 'layouts/user_mark', user: like.user %>
              </div>
              <div class="col-lg-7">
                <%= render 'layouts/user_page', user_type: like.user.user_type, handle_name: like.user.handle_name, user_id: like.user.id %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-center pt-2">
        <%= paginate @likes, :param_name => 'likes_page' %>
      </div>
    </div>

    <div class="col-lg-8 mt-5">
      <div class="col-lg-12 white-text gray-800-back d-flex justify-content-center align-items-center pr-0 list-label">
        <div class="col-lg-4 pl-3">
          <span><%= @comments.count %> コメント</span>
        </div>
        <div class="col-lg-8 text-right mr-3">
          <% if user_signed_in? %>
            <%= form_with model: [@art, @comment], url: art_engagements_path do |f| %>
            <%= render 'layouts/error_message', resource: f.object %>
              <%= f.text_field :body, class: 'col-lg-8', :placeholder => 'コメント 150字まで' %>
              <%= f.submit '投稿', class: 'btn btn-secondary' %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="gray-400-back">
        <% @comments.each do |comment| %>
          <details class="accordion-003 px-4 py-1">
            <summary>
              <div class="row col-lg-12 d-flex align-items-center">
                <% if comment.user.is_locked == true %>
                  <div class="col-lg-2">
                    <%= image_tag 'is_locked_thumbnail', class: 'rounded-circle mr-2 thumbnail-s' %>
                    <%= render 'layouts/user_mark', user: comment.user %>
                  </div>
                  <div class="col-lg-2">
                  </div>
                  <div class="col-lg-3">
                    <span>アカウント凍結中</span>
                  </div>
                  <div class="col-lg-2">
                  </div>
                <% elsif comment.is_deleted == true %>
                <% else %>
                  <div class="col-lg-2">
                    <%= image_tag comment.user.get_thumbnail, class: 'rounded-circle mr-2 thumbnail-s' %>
                    <%= render 'layouts/user_mark', user: comment.user %>
                  </div>
                  <div class="col-lg-2">
                    <%= render 'layouts/user_page', user_type: comment.user.user_type, handle_name: comment.user.handle_name, user_id: comment.user.id %>
                  </div>
                  <div class="col-lg-3">
                    <%= comment.body %>
                  </div>
                  <div class="col-lg-3">
                    <%= l comment.created_at %>  <!--#lヘルパー config/locales/ja.ymlにて設定-->
                  </div>
                  <div class="col-lg-2 d-flex justify-content-between align-items-center">
                    <div>
                      <% if user_signed_in? && comment.user_id == current_user.id %>
                        <%= form_with model: comment, url: art_engagement_path(@art.id, comment.id), method: :patch do |f| %>
                          <%= button_tag type: 'submit', class: 'btn btn-secondary' do %>
                            <i class="fas fa-trash fa-lg"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                    <div>
                      <%= comment.replies.count %><span>　</span><i class="fas fa-comment"></i>
                    </div>
                  </div>
                <% end %>
              </div>
            </summary>

            <div class="ml-5">
              <% comment.replies.each do |reply| %>
                <div class="row col-lg-12 d-flex align-items-center line-top mt-1 pt-1">
                  <% if reply.user.is_deleted == true %>
                    <div class="col-lg-4">
                      <%= image_tag 'is_deleted_thumbnail.jpg', class: 'rounded-circle mr-2 thumbnail-s' %>
                      <%= render 'layouts/user_mark', user: reply.user %>
                    </div>
                    <div class="col-lg-4">
                      <span>退会済みユーザー</span>
                    </div>
                    <div class="col-lg-4">
                    </div>
                  <% elsif reply.user.is_locked == true %>
                    <div class="col-lg-2">
                      <%= image_tag 'is_locked_thumbnail', class: 'rounded-circle mr-2 thumbnail-s' %>
                      <%= render 'layouts/user_mark', user: reply.user %>
                    </div>
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-4">
                      <span>アカウント凍結中</span>
                    </div>
                    <div class="col-lg-4">
                    </div>
                  <% elsif reply.is_deleted == true %>
                    <div class="col-lg-4 my-1">
                    </div>
                    <div class="col-lg-4 my-1">
                      <span>削除済みコメント</span>
                    </div>
                    <div class="col-lg-4 my-1">
                    </div>
                  <% else %>
                    <div class="col-lg-2">
                      <%= image_tag reply.user.get_thumbnail, class: 'rounded-circle mr-2 thumbnail-s' %>
                      <%= render 'layouts/user_mark', user: reply.user %>
                    </div>
                    <div class="col-lg-2">
                      <%= render 'layouts/user_page', user_type: reply.user.user_type, handle_name: reply.user.handle_name, user_id: reply.user.id %>
                    </div>
                    <div class="col-lg-4">
                      <%= reply.body %>
                    </div>
                    <div class="col-lg-3">
                      <%= l reply.created_at %>  <!--#lヘルパー config/locales/ja.ymlにて設定-->
                    </div>
                    <div class="col-lg-1">
                      <% if user_signed_in? && reply.user_id == current_user.id %>
                        <%= form_with model: reply, url: art_engagement_path(@art.id, reply.id), method: :patch do |f| %>
                          <%= f.hidden_field :to_id, value: comment.id %>
                          <%= button_tag type: 'submit', class: 'btn btn-secondary' do %>
                            <i class="fas fa-trash fa-lg"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="text-right my-2">
              <% if user_signed_in? %>
                <% if comment.is_deleted == true %>
                <% else %>
                  <%= form_with model: [@art, @comment], url: art_engagements_path do |f| %>
                  <%= render 'layouts/error_message', resource: f.object %>
                    <%= f.text_field :body, class: 'col-lg-4', :placeholder => '返信 150字まで' %>
                    <%= f.hidden_field :to_id, value: comment.id %>
                    <%= f.submit '投稿', class: 'btn btn-secondary' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </details>
        <% end %>
      </div>
      <div class="d-flex justify-content-center pt-2">
        <%= paginate @comments, :param_name => 'comments_page' %>
      </div>
    </div>

  </div>
</div>