<h2>Engagements いいねとコメント</h2>

<div class="row">

  <div class="col-sm-6">

    <p>♥ <%= @likes.count %> いいね</p>
    <% @likes.each do |like| %>
      <% if like.user.is_deleted == true %>
        <%= image_tag 'is_deleted_thumbnail.jpg', :size => '50x50' %>
        <%= render 'layouts/user_mark', user: like.user %>
        <span>退会済みユーザー</span>
      <% elsif like.user.is_locked == true %>
        <%= image_tag 'is_locked_thumbnail', :size => '50x50' %>
        <%= render 'layouts/user_mark', user: like.user %>
        <span>アカウント凍結中</span>
      <% else %>
        <%= image_tag like.user.get_thumbnail(50,50) %>
        <%= render 'layouts/user_mark', user: like.user %>
        <%= render 'layouts/user_page', user_type: like.user.user_type, handle_name: like.user.handle_name, user_id: like.user.id %>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <p><%= @comments.count %> コメント</p>
    <% if user_signed_in? %>
      <%= form_with model: [@art, @comment], url: art_engagements_path do |f| %>
      <%= render 'layouts/error_message', resource: f.object %>
        <%= f.text_field :body, :placeholder => 'コメント 150字まで' %>
        <%= f.submit '投稿' %>
      <% end %>
    <% end %>

    <% @comments.each do |comment| %>
      <% if comment.user.is_locked == true %>
        <%= image_tag 'is_locked_thumbnail', :size => '50x50' %>
        <%= render 'layouts/user_mark', user: comment.user %>
      <span>アカウント凍結中</span>
      <% elsif comment.is_deleted == true %>
      <% else %>
        <%= image_tag comment.user.get_thumbnail(50,50) %>
        <%= render 'layouts/user_mark', user: comment.user %>
        <%= render 'layouts/user_page', user_type: comment.user.user_type, handle_name: comment.user.handle_name, user_id: comment.user.id %>

        <%= comment.body %>
        <%= l comment.created_at %>  <!--#lヘルパー config/locales/ja.ymlにて設定-->

        <% if user_signed_in? && comment.user_id == current_user.id %>
          <%= form_with model: comment, url: art_engagement_path(@art.id, comment.id), method: :patch do |f| %>
            <%= button_tag type: 'submit' do %>
             ■
            <% end %>
          <% end %>
        <% end %>

        <% if comment.to_id.blank? %>
        <% else %>
          <p><%= comment.to_id.count %> Reply</p>
        <% end %>
      <% end %>

      <% comment.replies.each do |reply| %>
        <% if reply.user.is_deleted == true %>
          <%= image_tag 'is_deleted_thumbnail.jpg', :size => '50x50' %>
          <%= render 'layouts/user_mark', user: reply.user %>
          <span>退会済みユーザー</span>
        <% elsif reply.user.is_locked == true %>
          <%= image_tag 'is_locked_thumbnail', :size => '50x50' %>
          <%= render 'layouts/user_mark', user: reply.user %>
          <span>アカウント凍結中</span>
        <% elsif reply.is_deleted == true %>
          <p>削除済みコメント</p>
        <% else %>
          <%= image_tag reply.user.get_thumbnail(50,50) %>
          <%= render 'layouts/user_mark', user: reply.user %>
          <%= render 'layouts/user_page', user_type: reply.user.user_type, handle_name: reply.user.handle_name, user_id: reply.user.id %>
          <%= reply.body %>
          <%= l reply.created_at %>  <!--#lヘルパー config/locales/ja.ymlにて設定-->
          <% if user_signed_in? && reply.user_id == current_user.id %>
            <%= form_with model: reply, url: art_engagement_path(@art.id, reply.id), method: :patch do |f| %>
            <%= f.hidden_field :to_id, value: comment.id %>
              <%= button_tag type: 'submit' do %>
               ■
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% if user_signed_in? %>
      <% if comment.is_deleted == true %>
      <% else %>
        <%= form_with model: [@art, @comment], url: art_engagements_path do |f| %>
        <%= render 'layouts/error_message', resource: f.object %>
          <%= f.text_field :body, :placeholder => '返信 150字まで' %>
          <%= f.hidden_field :to_id, value: comment.id %>
          <%= f.submit '投稿' %>
        <% end %>
      <% end %>
    <% end %>


    <% end %>
  </div>

</div>