<h2>Engagements いいねとコメント</h2>

<div class="row">

  <div class="col-sm-6">

    <p>♥ <%= @likes.count %> いいね</p>
    <% @likes.each do |like| %>
      <%= image_tag like.user.get_thumbnail(50,50) %>
      <% if like.user.user_type == "artist" %>
        ★
      <% else %>
        ♥
      <% end %>
      <% if like.user.user_type == "artist" %>
        <%= link_to like.user.handle_name, artist_path(like.user_id) %>
      <% else %>
        <%= link_to like.user.handle_name, fan_path(like.user_id) %>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <p><%= @comments.count %> コメント</p>
    <% if user_signed_in? %>
      <%= form_with model: [@art, @comment], url: art_engagements_path do |f| %>
        <%= f.text_field :body, :placeholder => "コメント 150字まで" %>
        <%= f.submit "投稿" %>
      <% end %>
    <% end %>

    <% @comments.each do |comment| %>
      <% if comment.is_deleted == true %>
        <p>削除済みコメント</p>
      <% else %>
        <%= image_tag comment.user.get_thumbnail(50,50) %>

        <% if comment.user.user_type == "artist" %>
          ★
        <% else %>
          ♥
        <% end %>

        <% if comment.user.user_type == "artist" %>
          <%= link_to comment.user.handle_name, artist_path(comment.user_id) %>
        <% else %>
          <%= link_to comment.user.handle_name, fan_path(comment.user_id) %>
        <% end %>

        <%= comment.body %>
        <%= l comment.created_at %>  <!--#lヘルパー config/locales/ja.ymlにて設定-->

        <% if user_signed_in? && comment.user_id == current_user.id %>
          <%= form_with model: comment, url: art_engagement_path(@art.id, comment.id), method: :patch do |f| %>
            <%= button_tag type: "submit" do %>
             ■
            <% end %>
          <% end %>
        <% end %>

      <% if comment.to_id.blank? %>
      <% else %>
        <p><%= comment.to_id.count %> Reply</p>
      <% end %>

      <% comment.replies.each do |reply| %>
        <% if reply.is_deleted == true %>
          <p>削除済みコメント</p>
        <% else %>
          <%= image_tag reply.user.get_thumbnail(50,50) %>

          <% if reply.user.user_type == "artist" %>
            ★
          <% else %>
            ♥
          <% end %>

          <% if reply.user.user_type == "artist" %>
            <%= link_to reply.user.handle_name, artist_path(reply.user_id) %>
          <% else %>
            <%= link_to reply.user.handle_name, fan_path(reply.user_id) %>
          <% end %>

          <%= reply.body %>
          <%= l reply.created_at %>  <!--#lヘルパー config/locales/ja.ymlにて設定-->

          <% if user_signed_in? && reply.user_id == current_user.id %>
            <%= form_with model: reply, url: art_engagement_path(@art.id, reply.id), method: :patch do |f| %>
            <%= f.hidden_field :to_id, value: comment.id %>
              <%= button_tag type: "submit" do %>
               ■
              <% end %>
            <% end %>
          <% end %>

        <% end %>
      <% end %>

      <% if user_signed_in? %>
        <%= form_with model: [@art, @comment], url: art_engagements_path do |f| %>
          <%= f.text_field :body, :placeholder => "返信 150字まで" %>
          <%= f.hidden_field :to_id, value: comment.id %>
        <%= f.submit "投稿" %>
      <% end %>
    <% end %>

      <% end %>

    <% end %>
  </div>

</div>