<h2>Admin Log in 管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path do |f| %>
<table>
  <tr>
    <th>
      <%= f.label :email, 'メールアドレス' %>
    </th>
    <td>
      <%= f.email_field :email, autofocus: true, :placeholder => 'xxx@gmail.com', autocomplete: 'email' %>
    </td>
  </tr>
  <tr>
    <th>
      <%= f.label :password, 'パスワード' %>
    </th>
    <td>
      <%= f.password_field :password %>
    </td>
  </tr>
  <td td colspan="2" >
    <div class="actions">
      <%= f.submit 'ログイン' %>
    </div>
  </td>
</table>
<% end %>