<p>Follows & Notices　フォローとお知らせ</p>

<div class="row justify-content-center">
  <div class="col-lg-11 d-flex justify-content-center mt-5">

    <div class="col-lg-3">
      <div class="white-text gray-800-back d-flex align-items-center pl-3 list-label">
        <%= @my_followers.count %><span> フォロー</span>
      </div>
      <% @my_followers.each do |follow| %>
        <div class="gray-400-back line-bottom d-flex align-items-center text-center py-1">
          <% if follow.is_deleted == true %>
            <div class="col-lg-4">
              <%= image_tag 'is_deleted_thumbnail.jpg', class: 'rounded-circle thumbnail-s' %>
            </div>
            <div class="col-lg-1">
              <%= render 'layouts/user_mark', user: follow %>
            </div>
            <div class="col-lg-7">
              <span>退会済みユーザー</span>
            </div>
          <% elsif follow.is_locked == true %>
            <div class="col-lg-4">
              <%= image_tag 'is_locked_thumbnail', class: 'rounded-circle thumbnail-s' %>
            </div>
            <div class="col-lg-1">
              <%= render 'layouts/user_mark', user: follow %>
            </div>
            <div class="col-lg-7">
              <span>アカウント凍結中</span>
            </div>
          <% else %>
            <div class="col-lg-4">
              <%= image_tag follow.get_thumbnail, class: 'rounded-circle thumbnail-s' %>
            </div>
            <div class="col-lg-1">
              <%= render 'layouts/user_mark', user: follow %>
            </div>
            <div class="col-lg-7">
              <%= render 'layouts/user_page', user_type: follow.user_type, handle_name: follow.handle_name, user_id: follow.id %>
            </div>
          <% end %>
        </div>
      <% end %>
    <div class="d-flex justify-content-center pt-2">
      <%= paginate @my_followers, :param_name => 'my_followers_page' %>
    </div>
    </div>

    <div class="col-lg-3">
      <div class="white-text gray-800-back d-flex align-items-center pl-3 list-label">
        <%= @my_followeds.count %><span> フォロワー</span>
      </div>
      <% @my_followeds.each do |follower| %>
        <div class="gray-400-back line-bottom d-flex align-items-center text-center py-1">
          <% if follower.is_deleted == true %>
            <div class="col-lg-4">
              <%= image_tag 'is_deleted_thumbnail.jpg', class: 'rounded-circle thumbnail-s' %>
            </div>
            <div class="col-lg-1">
              <%= render 'layouts/user_mark', user: follower %>
            </div>
            <div class="col-lg-7">
              <span>退会済みユーザー</span>
            </div>
          <% elsif follower.is_locked == true %>
            <div class="col-lg-4">
              <%= image_tag 'is_locked_thumbnail', class: 'rounded-circle thumbnail-s' %>
            </div>
            <div class="col-lg-1">
              <%= render 'layouts/user_mark', user: follower %>
            </div>
            <div class="col-lg-7">
              <span>アカウント凍結中</span>
            </div>
          <% else %>
            <div class="col-lg-4">
              <%= image_tag follower.get_thumbnail, class: 'rounded-circle thumbnail-s' %>
            </div>
            <div class="col-lg-1">
              <%= render 'layouts/user_mark', user: follower %>
            </div>
            <div class="col-lg-7">
              <%= render 'layouts/user_page', user_type: follower.user_type, handle_name: follower.handle_name, user_id: follower.id %>
            </div>
          <% end %>
        </div>
      <% end %>
    <div class="d-flex justify-content-center pt-2">
      <%= paginate @my_followeds, :param_name => 'my_followeds_page' %>
    </div>
    </div>

    <div class="col-lg-6">
      <div class="col-lg-12 white-text gray-800-back d-flex justify-content-center align-items-center pr-0 list-label">
        <div class="col-lg-4 pl-3">
          <span>お知らせ</span>
        </div>
        <div class="col-lg-8 text-right mr-3">
          <% if @notices.exists? %>
            <%= form_with model: @notices, url: follows_notices_update_all_path, method: :patch do |f| %>
              <%= f.hidden_field :checked, value: true %>
              <%= f.submit '一括既読', class: 'btn btn-secondary' %>
            <% end %>
          <% end %>
        </div>
      </div>
        <% if @notices.exists? %>
          <%= render partial: 'layouts/notice', collection: @notices %>
        <% else %>
          <div class="gray-400-back d-flex align-items-center justify-content-center line-bottom py-3">
            <span>通知はありません</span>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center pt-2">
        <%= paginate @notices, :param_name => 'notices_page' %>
      </div>
    </div>

  </div>
</div>