<h2>Follows & Notices</h2>

<div class="row">

  <div class="col-sm-3">
  <p><%= @my_follow.count %> フォロー</p>
    <% @my_follow.each do |follow| %>
      <%= image_tag follow.get_thumbnail(50,50) %>
      <%= render 'layouts/user_mark', user: follow %>
      <%= render 'layouts/user_page', user_type: follow.user_type, handle_name: follow.handle_name, user_id: follow.id %>
    <% end %>
  </div>

  <div class="col-sm-3">
  <p><%= @my_follower.count %> フォロワー</p>
    <% @my_follower.each do |follower| %>
      <%= image_tag follower.get_thumbnail(50,50) %>
      <%= render 'layouts/user_mark', user: follower %>
      <%= render 'layouts/user_page', user_type: follower.user_type, handle_name: follower.handle_name, user_id: follower.id %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <p>
      お知らせ
      <%#= form_with model: @notice, url: follows_notice_path(@notice.id), method: :patch do |f| %>
      <%#= f.hidden_field :checked, value: ture %>
        <%#= f.submit '一括既読' %>
      <%# end %>
    </p>
    <% if @notice.exists? %>
      <%= render partial: 'layouts/notice', collection: @notice %>
    <% else %>
      <p>通知はありません</p>
    <% end %>
  </div>

</div>