<div class="row">
  <div class="col-sm-6">
    <%= image_tag @art.image %>
  </div>
  <div class="col-sm-6">
    <p>
      <%= @art.title %><br>
      <%= link_to @art.user.handle_name, artist_path(@art.user_id) %>
    </p>
    <p><%= @art.detail %></p>
    <p><%= l @art.created_at %></p>  <!--#lヘルパー config/locales/ja.ymlにて設定-->
    <p>
      <%# @tag.each do |tag| %>
        <%#= tag.tag %>
      <%# end %>
    </p>
    <p>
      Like
      コメント
      詳細表示 >
      
    </p>
  </div>
</div>

<%= link_to "Back", :back %>