<div class="row justify-content-center">
  <div class="row row-cols-2 col-lg-9 d-flex justify-content-center">

    <div class="col-lg-6 d-flex justify-content-center mt-5">
      <%= link_to art_view_path(@art.id) do %>
        <%= image_tag @art.image, class: 'img-fluid image-preview' %>
      <% end %>
    </div>

    <div class="col-lg-5 mt-5 ml-5 d-flex align-items-center">
      <div>
        <div class="col-lg-12">
          <%= @art.title %>
        </div>
        <div class="col-lg-12 mt-2">
          <%= link_to @art.user.handle_name, artist_path(@art.user_id) %>
        </div>
        <div class="col-lg-12 mt-2">
          <%= @art.detail %>
        </div>
        <div class="col-lg-12 mt-2">
          <%= l @art.created_at %>  <!--#lヘルパー config/locales/ja.ymlにて設定-->
        </div>
        <div class="col-lg-12 mt-2">
          <% @tags.each do |tag| %>
            <%= link_to ('#' + tag.name), arts_hashtag_path(tag.name) %>
          <% end %>
        </div>
        <div class="col-lg-12 mt-2">
          <% if user_signed_in? %>
            <% if @art.user_id == current_user.id %>
              <span><i class="fas fa-thumbs-up gray-800"></i> </span><%= @art.likes.count %>
            <% else %>
              <% if @art.liked_by?(current_user) %>
                <%= link_to art_likes_path(@art), method: :delete, class: 'text-decoration-none' do %>
                  <i class="fas fa-thumbs-up gray-800"></i>
                <% end %>
              <% else %>
                <%= link_to art_likes_path(@art), method: :post, class: 'text-decoration-none' do %>
                   <span><i class="fas fa-thumbs-up gray-400"></i> </span>
                <% end %>
              <% end %>
             <%= @art.likes.count %>
            <% end %>
          <% else %>
            <span><i class="fas fa-thumbs-up gray-800"></i> </span><%= @art.likes.count %>
          <% end %>
          <span>　</span><%= @comments.count %><span> コメント</span>
          <span>　</span><%= link_to '詳細表示 >', art_engagements_path(@art.id) %>
          <% if user_signed_in? && @art.user_id == current_user.id %>
          <span>　</span><%= link_to '編集する >', edit_art_path(@art.id) %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>