<div class="row">
  <div class="col-sm-6">
    <%= link_to view_art_path(@art.id) do %>
      <%= image_tag @art.image.variant( resize: "600x400>" ) %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <p>
      <%= @art.title %><br>
      <%= link_to @art.user.handle_name, artist_path(@art.user_id) %>
    </p>
    <p><%= @art.detail %></p>
    <p><%= l @art.created_at %></p>  <!--#lヘルパー config/locales/ja.ymlにて設定-->
    <p>
      <%# @tag.each do |tag| %>
        <%#= tag.tag %>
      <%# end %>
    </p>
    <p>
      Like
      コメント
      詳細表示 >
      <% if user_signed_in? && @art.user_id == current_user.id %>
        <%= link_to "編集する >", edit_art_path(@art.id) %>
      <% end %>
    </p>
  </div>
</div>

<%= link_to "Back", :back %>