<p>Help　ヘルプ</p>

<div class="row justify-content-lg-center">

  <div class="col-12">
    <div class="text-center">
      <p>お問い合わせ内容確認</p>
    </div>
  </div>

  <div class="col-lg-5 gray-400-back px-3 py-5">
    <div class="row d-flex justify-content-center align-items-center mx-5">
      <div class="col-lg-4">
        <span>お名前</span>
      </div>
      <div class="col-lg-4">
        <%= @inquiry.last_name %>
      </div>
      <div class="col-lg-4">
        <%= @inquiry.first_name %>
      </div>
      <div class="col-lg-4 mt-4">
        <span>会員ID</span>
      </div>
      <div class="col-lg-8 mt-4">
        <%= @inquiry.user_id %>
      </div>
      <div class="col-lg-4 mt-4">
        <span>メールアドレス</span>
      </div>
      <div class="col-lg-8 mt-4">
        <%= @inquiry.email %>
      </div>
      <div class="col-lg-4 mt-4">
        <span>件名</span>
      </div>
      <div class="col-lg-8 mt-4">
        <%= @inquiry.inquiry_name %>
      </div>
      <div class="col-lg-4 mt-4">
        <span>内容</span>
      </div>
      <div class="col-lg-8 mt-4">
        <td colspan="2"><%= @inquiry.inquiry_detail %></td>
      </div>
      <%= form_with model: @inquiry, url: helps_path do |f| %>
        <%= f.hidden_field :last_name %>
        <%= f.hidden_field :first_name %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :inquiry_name %>
        <%= f.hidden_field :inquiry_detail %>
        <div class="row row-cols-2 d-flex justify-content-center mt-5">
          <div class="col-lg-6">
            <%= f.submit '送信', class: 'btn btn-secondary' %>
          </div>
          <div class="col-lg-6">
            <%= f.submit '修正', class: 'btn btn-secondary', name: :back %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>