<p>Help　ヘルプ</p>

<div class="row justify-content-lg-center">

  <div class="col-12">
    <div class="text-center">
      <p>お問い合わせ</p>
    </div>
  </div>

  <%= form_with model: @inquiry, url: helps_confirm_path do |f| %>
  <%= render 'layouts/error_message', resource: f.object %>
    <div class="d-flex justify-content-center">
      <div class="col-lg-5 gray-400-back px-3 py-5">
        <div class="form-row d-flex justify-content-center align-items-center mx-5">
          <div class="col-lg-4">
            <span>お名前</span>
          </div>
          <div class="col-lg-4">
            <% if user_signed_in? && (@user.is_locked == true) %>
              <%= @user.last_name %>
              <%= f.hidden_field :last_name, :value => @user.last_name %>
            <% else %>
              <%= f.text_field :last_name, class: 'form-control', :placeholder => '苗字' %>
            <% end %>
          </div>
          <div class="col-lg-4">
            <% if user_signed_in? && (@user.is_locked == true) %>
              <%= @user.first_name %>
              <%= f.hidden_field :first_name, :value => @user.first_name %>
            <% else %>
              <%= f.text_field :first_name, class: 'form-control', :placeholder => '名前' %>
            <% end %>
          </div>
          <div class="col-lg-4 mt-2">
            <%= f.label :user_id, '会員ID ※会員のみ' %>
          </div>
          <div class="col-lg-8 mt-2">
            <% if user_signed_in? && (@user.is_locked == true) %>
              <%= @user.id %>
              <%= f.hidden_field :user_id, :value => @user.id %>
            <% else %>
              <%= f.text_field :user_id, class: 'form-control', :placeholder => '数字を入力' %>
            <% end %>
          </div>
          <div class="col-lg-4 mt-2">
            <%= f.label :email, 'メールアドレス' %>
          </div>
          <div class="col-lg-8 mt-2">
            <%= f.email_field :email, class: 'form-control', :placeholder => 'xxx@gmail.com' %>
          </div>
          <div class="col-lg-4 mt-2">
            <%= f.label :inquiry_name, '件名' %>
          </div>
          <div class="col-lg-8 mt-2">
            <% if user_signed_in? && (@user.is_locked == true) %>
              アカウントの凍結についてのお問い合わせ
              <%= f.hidden_field :inquiry_name, :value => 'アカウントの凍結についてのお問い合わせ' %>
            <% else %>
              <%= f.text_field :inquiry_name, class: 'form-control', :placeholder => '30文字以内で入力してください。' %>
            <% end %>
          </div>
          <div class="col-lg-4 mt-2">
            <%= f.label :inquiry_detail, '内容' %>
          </div>
          <div class="col-lg-8 mt-2">
            <%= f.text_area :inquiry_detail, class: 'form-control', :placeholder => '500文字以内で入力してください。' %>
          </div>
          <div class="col-lg-12 d-flex justify-content-center mt-4">
            <%= f.submit '内容確認', class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>