<h2>Users ユーザ一覧 </h2>

<%= form_with url: admin_users_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, value: @keyword, :placeholder => "Search Users" %>
  <%= f.submit "検索" %>
<% end %>

<% @users.each do |user| %>
  <%= link_to admin_user_path(user.id) do %>
    <div>
      <%= image_tag user.get_thumbnail(50,50) %>
      <p>会員ID <%= user.id %><br>
      <%= user.handle_name %><br>
      <%= user.last_name %> <%= user.first_name %></p>
    </div>
  <% end %>
<% end %>