<div class="row">
  <div class="col-lg-3">
    <p>Users　ユーザ一覧</p>
  </div>
  <div class="col-lg-9">
    <%= form_with url: admin_users_search_path, method: :get, local: true do |f| %>
      <div class="form-row d-flex justify-content-end pr-2">
        <div class="col-lg-2">
          <%= f.text_field :keyword_id, class: 'form-control', :placeholder => 'ID 例)123' %>
        </div>
        <div class="col-lg-2">
          <%= f.text_field :keyword_last_name, class: 'form-control', :placeholder => '苗字' %>
        </div>
        <div class="col-lg-2">
          <%= f.text_field :keyword_first_name, class: 'form-control', :placeholder => '名前' %>
        </div>
        <div class="col-lg-2">
          <%= f.text_field :keyword_handle_name, class: 'form-control', :placeholder => 'ニックネーム' %>
        </div>
        <div class="col-lg-1 actions d-flex justify-content-end">
          <%= f.submit '検索', class: 'btn btn-secondary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @search_words.blank? %>
<% else %>
  <span>検索ワード　　</span>
<% end %>
<% if @search_word_id.blank? %>
<% else %>
  <span>ID :　</span><%= @search_word_id %>
<% end %>

<% if @search_word_last_name.blank? %>
<% else %>
  <span>苗字 :　</span><%= @search_word_last_name %>
<% end %>

<% if @search_word_first_name.blank? %>
<% else %>
  <span>名前 :　</span><%= @search_word_first_name %>
<% end %>

<% if @search_word_handle_name.blank? %>
<% else %>
  <span>ハンドルネーム :　</span><%= @search_word_handle_name %>
<% end %>

<div class="row d-flex justify-content-center">
  <div class="row col-lg-11 d-flex flex-wrap justify-content-center mt-4">
    <% @users.each do |user| %>
      <div class="col-lg-2 align-items-center text-center">
        <%= link_to admin_user_path(user.id), class: 'text-decoration-none' do %>
          <div class="mb-3 col-lg-12">

            <div class="row">
              <div class="row col-lg-12 link-card py-2">
                <div class="col-lg-12">
                  <%= image_tag user.get_thumbnail, class: 'rounded-circle d-block mx-auto mt-3 thumbnail-m' %>
                </div>
                <div class="col-lg-12 mt-3">
                  <p>ID <%= user.id %><br>
                  <%= user.handle_name %><br>
                  <%= user.last_name %> <%= user.first_name %></p>
                </div>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center pt-2">
  <%= paginate @users %>
</div>