<h2>Users ユーザ一覧 </h2>

<% if @search_words == "" %>
<% else %>
  <span>検索ワード　</span>
<% end %>
<% if @search_word_id == "" %>
<% else %>
  <span>会員ID : <%= @search_word_id %>　</span>
<% end %>

<% if @search_word_last_name == "" %>
<% else %>
  <span>苗字 : <%= @search_word_last_name %>　</span>
<% end %>

<% if @search_word_first_name == "" %>
<% else %>
  <span>名前 : <%= @search_word_first_name %>　</span>
<% end %>

<% if @search_word_handle_name == "" %>
<% else %>
  <span>ハンドルネーム : <%= @search_word_handle_name %></span>
<% end %>

<%= form_with url: admin_users_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword_id, :placeholder => "会員ID 例)123" %>
  <%= f.text_field :keyword_last_name, :placeholder => "苗字" %>
  <%= f.text_field :keyword_first_name, :placeholder => "名前" %>
  <%= f.text_field :keyword_handle_name, :placeholder => "ニックネーム" %>
  <%= f.submit "検索" %>
<% end %>

<% @users.each do |user| %>
  <%= link_to admin_user_path(user.id) do %>
    <div>
      <%= image_tag user.get_thumbnail(50,50) %>
      <p>会員ID <%= user.id %><br>
      <%= user.handle_name %><br>
      <%= user.last_name %> <%= user.first_name %></p>
    </div>
  <% end %>
<% end %>