<p>Log in ログイン</p>

<div class="row justify-content-md-center ">
  <div class="col-lg-5 d-flex justify-content-center gray-400-back mt-3 px-3 py-5">

    <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="form-row d-flex justify-content-center">
        <div class="col-lg-10">
            <%= f.label :email, 'メールアドレス' %>
        </div>
        <div class="col-lg-10">
          <%= f.email_field :email, autofocus: true, class: 'form-control', :placeholder => 'xxx@gmail.com', autocomplete: 'email' %>
        </div>

        <div class="col-lg-10">
          <%= f.label :password, 'パスワード' %>
        </div>
        <div class="col-lg-10">
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="col-lg-12 d-flex justify-content-center mt-4">
          <%= f.submit 'ログイン', class: 'btn btn-secondary' %>
        </div>
      </div>
    <% end %>

  </div>
</div>