<div class="row">
  <div class="col-sm-4">
    <% if user_signed_in? && (@user.id == current_user.id) && (@user.is_locked == true) %>
      <p>アカウントは凍結されています</p>
      <p>心当たりが無い場合は<%= link_to 'お問い合わせフォーム', helps_inquiry_path %>よりご連絡ください</p>
    <% else %>
      <%= image_tag @user.get_thumbnail, :size => '100x100' %>
      <p><%= @user.handle_name %></p>
      <p><%= @user.my_followers.count %>フォロー　<%= @user.my_followeds.count %>フォロワー</p>
      <p><%= @user.url %></p>
      <p><%= @user.introduction %></p>
      <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to '登録内容変更', users_edit_path %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to 'フォロー解除', user_follow_path(@user.id), method: :delete %>
        <% else %>
          <%= link_to 'フォロー', user_follows_path(@user.id), method: :post %>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-8">
      <h2>Arts 作品一覧</h2>
      <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to '+', new_art_path %>
      <% end %>
      <% @arts.first(8).each do |art| %>
        <%= link_to art_path(art.id) do %>
          <%= image_tag art.image %>
        <% end %>
      <% end %>
      <% if @arts.count > 8 %>
        <%= link_to 'もっと見る >', artist_arts_path(@user.id) %>
      <% end %>
    <% end %>
  </div>
</div>
