<div class="row justify-content-center">

  <%= form_with model: @user, url: users_edit_path(@user.id) do |f| %>
  <%= render 'layouts/error_message', resource: f.object %>
    <div class="d-flex justify-content-center mt-5">
      <div class="col-lg-5 gray-400-back px-3 py-5">
        <div class="form-row d-flex justify-content-center align-items-center mx-5">

          <div class="col-4">
            <div class="rounded-circle d-block mx-auto" id="previewThumbnail"> <!--画像プレビュー-->
              <%= image_tag @user.thumbnail, class: 'rounded-circle d-block mx-auto thumbnail-m' %>
            </div>
          </div>
          <div class="col-8 d-flex justify-content-center">
            <%= f.label :thumbnail, '画像をアップロード', class: 'btn btn-secondary' %>
            <%= f.file_field :thumbnail, accept: 'image/jpeg, image/png, image/gif', class: 'image_form' %>　<!--画像プレビュー用id-->
          </div>

          <div class="col-4 mt-4">
            <span>ID</span>
          </div>
          <div class="col-8 mt-4">
            <%= @user.id %>
          </div>
          <div class="col-4 mt-2">
            <span>会員種別</span>
          </div>
          <div class="col-8 mt-2">
            <% if 'artist' == @user.user_type %>
              アーティスト
            <% else %>
              ファン
            <% end %>
          </div>
          <div class="col-4 mt-3">
            <span>名前</span>
          </div>
          <div class="col-4 mt-3">
            <%= f.text_field :last_name, class: 'form-control', :placeholder => '苗字' %>
          </div>
          <div class="col-4 mt-2">
            <%= f.text_field :first_name, class: 'form-control', :placeholder => '名前' %>
          </div>
          <div class="col-4 mt-2">
            <%= f.label :email, 'メールアドレス' %>
          </div>
          <div class="col-8 mt-2">
            <%= f.email_field :email, class: 'form-control', :placeholder => 'xxx@gmail.com' %>
          </div>
          <div class="col-4 mt-2">
            <%= f.label :telephone_number, '電話番号' %>
          </div>
          <div class="col-8 mt-2">
            <%= f.text_field :telephone_number, class: 'form-control', :placeholder => 'XXX-XXXX-XXXX' %>
          </div>

          <div class="col-4 mt-2">
            <%= f.label :handle_name, 'ニックネーム' %>
          </div>
          <div class="col-8 mt-2">
            <%= f.text_field :handle_name, class: 'form-control', :placeholder => 'ニックネーム' %>
          </div>
          <% if @user.user_type == 'artist' %>
            <div class="col-4 mt-2">
              <%= f.label :url, 'サイトURL' %>
            </div>
            <div class="col-8 mt-2">
              <%= f.text_field :url, class: 'form-control', :placeholder => 'http://' %>
            </div>
          <% else %>
          <% end %>
          <div class="col-4 mt-2">
            <%= f.label :introduction, '自己紹介' %>
          </div>
          <div class="col-8 mt-2">
            <%= f.text_area :introduction, class: 'form-control text_area-vertical', :placeholder => '200文字まで' %>
          </div>
          <div class="row row-cols-2 d-flex justify-content-center mt-5">
            <div class="col-lg-6">
              <%= f.submit '変更', class: 'btn btn-secondary' %>
            </div>
            <div class="col-lg-6">
              <%= link_to '退会', users_confirm_path, class: 'btn btn-secondary text-decoration-none' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-center mt-4">
    <%= link_to 'Back', :back %>
  </div>

</div>