<h2>Artists アーティスト一覧</h2>

<% if @search_word.blank? %>
<% else %>
  <span>検索ワード　<%= @search_word %></span>
<% end %>

<%= form_with url: users_artsit_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, value: @keyword, :placeholder => "Search Users" %>
  <%= f.submit "検索" %>
<% end %>

<% @user.each do |user| %>
  <%= link_to artist_path(user.id) do %>
    <div>
      <%= image_tag user.get_thumbnail(50,50) %>
      <p><%= user.handle_name %><br>
      <% if user.introduction.nil? %>
        No introduction.
      <% else %>
        <%= user.introduction.truncate(27) %>
      <% end %>
      </p>
    </div>
  <% end %>
<% end %>