<h2>Artists アーティスト一覧</h2>

<% if @search_word == nil %>
<% else %>
  <span>検索ワード　<%= @search_word %></span>
<% end %>

<%= form_with url: users_artsit_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, value: @keyword, :placeholder => "Search Users" %>
  <%= f.submit "検索" %>
<% end %>

<% @artists.each do |artist| %>
  <%= link_to artist_path(artist.id) do %>
    <div>
      <%= image_tag artist.get_thumbnail(50,50) %>
      <p><%= artist.handle_name %><br>
      <% if artist.introduction.nil? %>
        No introduction.
      <% else %>
        <%= artist.introduction.truncate(27) %>
      <% end %>
      </p>
    </div>
  <% end %>
<% end %>